<div>
  <form #eventForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre del evento:</label>
      <input id="name" name="name" type="text" [(ngModel)]="model.name" #name="ngModel" required/>
      <span [hidden]="isValid(name)" class="alert"> 
        Campo obligatorio!
      </span>

    </div>
    <div class="form-group">
      <label for="date">Fecha: </label>
      <input id="date" name="date" type="date" [(ngModel)]="model.date" #date="ngModel" required appDateValidator/>
      <span [hidden]="!date.errors?.['isValid']" class="alert">
        {{date.errors?.['message']}}
      </span>
    </div>
    <div class="form-group">
      <label for="time">Hora: </label>
      <input id="time" name="time" type="time" [(ngModel)]="model.time" #time="ngModel" required/>
      <span [hidden]="isValid(time)" class="alert"> 
        Campo obligatorio!
      </span>
    </div>
    <div class="form-group">
      <label for="address">Dirección: </label>
      <input id="address" name="address" type="text" [(ngModel)]="model.location.address" #address="ngModel" required/>
      <span [hidden]="isValid(address)" class="alert"> 
        Campo obligatorio!
      </span>
    </div>
    <div class="form-group">
      <label for="city">Ciudad: </label>
      <input id="city" name="city" type="text" [(ngModel)]="model.location.city" #city="ngModel" required/>
      <span [hidden]="isValid(city)" class="alert"> 
        Campo obligatorio!
      </span>
    </div>
    <div class="form-group">
      <label for="country">Pais: </label>
      <input id="country" name="country" type="text" [(ngModel)]="model.location.country" #country="ngModel" required pattern="[A-Z]{2}"/>
      <span [hidden]="!country.errors?.['required'] || !country.touched" class="alert"> 
        Campo obligatorio!
      </span>
      <span [hidden]="!country.errors?.['pattern'] || country.errors?.['required']" class="alert"> 
        El pais debe ser representado por 2 letras mayusculas!
      </span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid" >Guardar</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
  </form>
</div>
