<html>
  <body>
    <div class="column labelsColumn">
      <div>
        Evento:
      </div>
      <div>
        Fecha:
      </div>
      <div>
        Hora:
      </div>
      <div>
        Direccion:
      </div>
    </div>
    
    <div class="column dataColumn">
      <div>
        {{ event.name }} 
      </div>
      <div>
        {{ event.date }}
      </div>
      <div>
        {{ event.time }}
      </div>
      <div>
        {{ event.location.address }}, {{ event.location.city }}, {{ event.location.country }}
      </div>
    </div>  
  </body>
</html>